    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">Openbiz<span class="highlight">X</span></h2>
            <p class="intro">Simple, Powerfull and Enterprise PHP Framework<br/><br/></p>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="http://themes.3rdwavemedia.com/" target="_blank">Demo</a>
                <a class="btn btn-cta-primary" href="http://themes.3rdwavemedia.com/website-templates/devaid-free-bootstrap-theme-developers/" target="_blank">Download</a>
            </div>
            <ul class="meta list-inline">
                <li><a href="https://github.com/openbizx/openbizx" target="_blank">View on GitHub</a></li>
                <li><a href="https://github.com/openbizx/docs" target="_blank">Full Documentation</a></li>
            </ul><!--//meta-->
        </div><!--//container-->       
        
		{% include home-social-media.html %}
		
    </section><!--//promo-->
