    <!-- ******ABOUT****** --> 
    <section id="docs" class="about section">
        <div class="container">
            <h2 class="title text-center">What is Openbizx?</h2>
            <p class="intro text-center">
				Openbizx is PHP framework with unique paradigm: MetaObject.
				In Openbizx, developers only need use 20% of their time to write php logic code and 80% used to write configuration on XML, PHP array, JSON or YAML.<br/>
				Openbiz have 3 keyword : Simple, Powerfull and Enterprise.
			</p>			
             <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Simple</h3>
                        <p> Openbizx simplify repeated task and than cretae new task only with configuration. 
							Openbizx also use general idiom, decrease technical jargon and use semantic word.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Powerfull</h3>
                        <p>Openbizx is Rapid Development Tools, with secure in mind and of course great User eXperince design.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-crosshairs"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Enterprise</h3>
                        <p>Openbizx aimed to build enterprise application, like ERP, CRM, CMS, etc. 
						Openbiz is modern framework that use PHP-FIG Standard and targeted runing well on PHP 7.</p>
                    </div><!--//content-->
                </div><!--//item-->           
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
