    <!-- ******ABOUT****** --> 
    <section id="docs" class="about section">
        <div class="container">
            <h2 class="title text-center">Documentation</h2>
            <p class="intro text-center">
				Openbizx is new project, but we are trying to create a complete documentation.
				Of course step by step.
			</p>			
             <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Getting Started</h3>
						<ul>
							<li><a href="#">Introduction</a></li>
							<li><a href="#">Create Your First Application!</a></li>
							<li><a href="#">more...</a></li>
						</ul>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Programmer's Guide</h3>
							<li><a href="#">MetaObject</a></li>
							<li><a href="#">Webpage and Form</a></li>
							<li><a href="#">more...</a></li>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-crosshairs"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Specification</h3>
						<ul>
							<li><a href="https://github.com/openbizx/osr/blob/master/OSR-001-metaobject.md">OSR 1: MetaObject</a></li>
						</ul>
                    </div><!--//content-->
                </div><!--//item-->           
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
